@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body{
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    /* background-image: url(../img/Bengkel0.jpg); */
}

.dropdown-toggle::after{
    display: none !important;
}

/* Button */
.btn-danger{
    background-color: #EAD196;
    border-radius: 15px;
    border-color: #EAD196;
    padding: 15px 30px;
    color: black;
    margin-left: 15px;
}

/* Navbar */
.navbar-nav .nav-item .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-pic {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-pic img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}


.nav-item .nav-link{
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-top: 20px;
}

.profile-pic {
    position: relative;
    margin-bottom: 10px;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ccc;
}

.online-indicator {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-color: #4CAF50; /* Warna hijau untuk indikator online */
    border: 2px solid white;
    border-radius: 50%;
}


.navigation a{
    position: relative;
    font-size: 1.3em;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    margin-left: 40px;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #005B41;
}

/* Bengkel */
/* .fixed-size {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
} */

/* Sparepart */
.small-card {
    max-width: 300px; /* Ukuran card maksimal */
    margin: auto; /* Centering card */
}
.small-card .card-body {
    padding: 1rem; /* Padding body card */
}
.small-card .card-title {
    font-size: 1.2rem; /* Ukuran font judul */
}
.small-card hr {
    margin-top: 0; /* Jarak dari atas */
    margin-bottom: 10px; /* Jarak dari bawah */
    border: 0; /* Garis dihapus */
    border-top: 1px solid rgba(0, 0, 0, 0.1); /* Warna dan ketebalan garis */
}


/* Profile */
.container-profile {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-photo img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    margin-top: 100px
}

.form-profile {
    margin-bottom: 15px;
    width: 100%;
}

.form-profile label {
    display: block;
    margin-bottom: 5px;
}

.form-profile input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.btn-profile {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn-profile:hover {
    background-color: #0056b3;
}


/* Login */
.wrapper{
    color: #fff;
    position: absolute;
    top: 320px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 100px 0;
    overflow: hidden;
    transition: height .2s ease;
}

.wrapper.active{
    height: 480px;
    margin-top: 30px;
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}

.form-box h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50%;
    border-bottom: 2px solid #fff;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    pointer-events: none;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
    transition: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    padding: 0 35px 0 5px;
}

.input-box .fa-solid{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #fff;
}

.remember-forgot{
    font-size: .9em;
    color: #fff;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: #162938;
    margin-right: 4px;
}

.remember-forgot a{
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btnLog{
    width: 100%;
    height: 45px;
    background: #005B41;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}


/* Hero */
#hero{
    background-image: url('../images/Bengkel0.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}

.hero-title{
    padding-top: 200px;
}

.hero-text{
    font-size: 55px;
    font-weight: 600;
}

/* Maps */
.map-home {
    height: 480px;
    width: 780px;
    display: block;
    margin-left: auto;
    margin-right: 80px;
}

.map-detail {
    /* height: 480px;
    width: 100%; */
    /* display: block; */
    width: 80vw;
    height: 80vh;
}



/* card image*/
.card {
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.card-text {
    font-size: 1rem;
    color: #555;
}

.card-footer {
    background-color: #f8f9fa;
    border-top: 1px solid #e3e3e3;
}


.btn-primary{
    background-color: #005B41;
    border-radius: 50px;
    width: 120px;
}

.fa-solid{
    margin-right: 5px;
}

.btn-primary:hover{
    background-color: black;
    border: none;
}

/* footer */
.container-footer{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.footer{
    width: 33.3%;
}

h3{
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.footer-content{
    width: 190px;
    margin: auto;
    padding: 7px;
}

.footer-content ul{
    text-align: center;
}

.list {
    padding: 0;
}

.list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}

.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background-color: white;
    transition-duration: .5s;
}

.list li:hover::before{
    width: 70px;
}

a{
    text-decoration: none;
}

a:hover{
    color: white;
}

.bottom-bar{
    background: black;
    text-align: center;
    padding: 10px 0;
    margin-top: 16px;
}

.bottom-bar p{
    color: white;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}
